@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  min-height: calc(100vh - 8rem); /* Accounting for navbar and footer */
  margin-top: 4rem; /* Height of navbar */
  margin-bottom: 4rem; /* Height of footer */
  position: relative;
  overflow-y: auto;
}